@model IEnumerable<PedidoModel>

<link rel="stylesheet" href="~/css/tabelas.css">


<header class="d-flex justify-content-between align-tems-center">
        <div>
            <h2 class="text-primary">Lista de Pedidos</h2>
        </div>
        <div>
             <a asp-action="Cadastrar" class="btn btn-primary"><i class="bi bi-plus"></i> Novo Pedido</a>
        </div>
    </header>
    <hr>
@if (Model.Count() > 0)
{
    <div class="container">
        <table class="table table-striped tabela-produtos table-sm table-hover">
            <thead class="bg-dark bg-gradient text-white">
                <tr>
                    <th>Código</th>
                    <th>Cliente</th>
                    <th>Data/Hora</th>
                    <th>Status</th>
                    <th>Valor Total</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id.ToString("D6")</td>
                        <td>@item.Cliente.Nome</td>
                        <td>@item.DataHora</td>
                        <td>@item.StatusPedido</td>
                        <td>@item.ValorTotal.ToString("C")</td>
                        <td>
                            <a class="btn btn-success btn-sm" asp-action="Index" asp-controller="ItemPedido"
                        asp-route-idPedido="@item.Id" title="Itens">
                                <i class="bi bi-list-ul"></i>
                            </a>

                            @if (item.StatusPedido == EnumStatusPedido.Cancelado)
                            {
                                <a class="btn btn-light btn-sm" disabled title="Regredir Status">
                                    <i class="bi bi-skip-backward"></i>
                                </a>

                                <a class="btn btn-light btn-sm" disabled title="Progredir Status">
                                    <i class="bi bi-skip-forward"></i>
                                </a>

                                <a class="btn btn-light btn-sm" disabled title="Cancelar">
                                    <i class="bi bi-bag-x"></i>
                                </a>
                            }
                            else
                            {
                                <a class="btn btn-warning btn-sm" asp-action="RegredirStatus" asp-route-id="@item.Id"
                        title="Regredir Status">
                                    <i class="bi bi-skip-backward"></i>
                                </a>

                                <a class="btn btn-primary btn-sm" asp-action="ProgredirStatus" asp-route-id="@item.Id"
                        title="Progredir Status">
                                    <i class="bi bi-skip-forward"></i>
                                </a>

                                <a class="btn btn-dark btn-sm" asp-action="Cancelar" asp-route-id="@item.Id" title="Cancelar">
                                    <i class="bi bi-bag-x"></i>
                                </a>
                            }

                            <a class="btn btn-success btn-sm" asp-action="Alterar" asp-route-id="@item.Id" title="Alterar">
                                <i class="bi bi-pencil"></i>
                            </a>

                            <a class="btn btn-danger btn-sm" asp-action="Excluir" asp-route-id="@item.Id" title="Excluir">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <h3>Não há pedidos cadastrados.</h3>
}
</div>