@model ClienteModel

<div class="container">
    <h2 class="text-primary">Cadastro de Cliente</h2>
    <hr>
    <form asp-action="Cadastrar" method="post">
        <input type="hidden" asp-for="@Model.Id">
        
        <div class="form-floating">
            <span class="text-danger text-center" asp-validation-for="@Model.Nome"></span>
            <input type="text" class="form-control" placeholder="" asp-for="@Model.Nome">
            <label asp-for="@Model.Nome"></label><br>
            
        </div>
        
        <div class="form-floating">
            <span class="text-danger" asp-validation-for="@Model.Email"></span>
            <input type="email" class="form-control" placeholder="" asp-for="@Model.Email">
            <label asp-for="@Model.Email"></label><br>
        </div>

        <div class="form-floating">
            <span class="text-danger" asp-validation-for="@Model.Telefone"></span>
            <input type="tel" class="form-control" placeholder="" asp-for="@Model.Telefone">
            <label asp-for="@Model.Telefone"></label><br>
        </div>

        <div class="form-floating">
            <span class="text-danger" asp-validation-for="@Model.DataNascimento"></span>
            <input type="date" class="form-control bi-calendar-date-fill" placeholder="" asp-for="@Model.DataNascimento">
            <label asp-for="@Model.DataNascimento"></label><br>
        </div>

        <div class="form-floating">
            <span class="text-danger" asp-validation-for="@Model.Dependentes"></span>
            <input type="number" class="form-control" placeholder="" asp-for="@Model.Dependentes">
            <label asp-for="@Model.Dependentes"></label><br>
        </div>

        <div class="form-floating">
            <span class="text-danger" asp-validation-for="@Model.LimiteCredito"></span>
            <input type="text" class="form-control" placeholder="" asp-for="@Model.LimiteCredito">
            <label asp-for="@Model.LimiteCredito"></label><br>
        </div>

        <div class="form-check-label">
            <span class="text-danger" asp-validation-for="@Model.Vip"></span>
            <label asp-for="@Model.Vip"></label>
            <input type="checkbox" class="form-check-input" placeholder="" asp-for="@Model.Vip">
        </div>
        <br>
        <div>
            <input type="submit" class="btn btn-sm btn-success" value="Salvar">
            <a asp-action="Index" class="btn btn-sm btn-danger">Cancelar</a>
        </div>

    </form>
</div>